# DateTimes

### Introduction

Deciding which features should be included and focused on in our linear model is an important skill of any data scientist.  As we saw previously, if we include features which are too collinear, we will improperly measure the coefficients related to our collinear features.  In addition, feature selection and prioritizing features with feature importance will help us to understand which features to devote our attention to in terms of feature engineering and domain understanding.  Finally, limiting the number of features in our model, and identifying the most crucial features in our model will make our models, and their insights more understandable.

### Working with AirBnb

For this lesson, we'll work with [AirBnb listings in Berlin](https://www.kaggle.com/brittabettendorf/berlin-airbnb-data).

In [2]:
import pandas as pd
df = pd.read_csv('listings_summary.csv.zip')

In [2]:
df.shape

(22552, 96)

As we can see, our dataset as 22,500 rows and close to 100 features.  Our goal is to predict the price.

In [3]:
# df.columns

Some of these columns include data that we do not know how to handle - mainly textual data and images.  A lot of this data is simply not in the correct format.  Let's take a look.

In [4]:
pd.set_option('display.max_rows',100)

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,22552.0,1.571560e+07,8.552069e+06,2.015000e+03,8.065954e+06,1.686638e+07,2.258393e+07,2.986735e+07
scrape_id,22552.0,2.018111e+13,4.812607e+00,2.018111e+13,2.018111e+13,2.018111e+13,2.018111e+13,2.018111e+13
thumbnail_url,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
medium_url,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xl_picture_url,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_id,22552.0,5.403355e+07,5.816290e+07,2.217000e+03,9.240002e+06,3.126711e+07,8.067518e+07,2.245081e+08
host_acceptance_rate,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_listings_count,22526.0,2.330685e+00,1.994782e+01,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.676000e+03
host_total_listings_count,22526.0,2.330685e+00,1.994782e+01,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.676000e+03
latitude,22552.0,5.250982e+01,3.082546e-02,5.234580e+01,5.248906e+01,5.250908e+01,5.253267e+01,5.265167e+01
longitude,22552.0,1.340611e+01,5.796365e-02,1.310356e+01,1.337541e+01,1.341678e+01,1.343926e+01,1.375764e+01
accommodates,22552.0,2.637460e+00,1.510548e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.600000e+01
bathrooms,22520.0,1.092695e+00,3.298943e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.500000e+00
bedrooms,22534.0,1.161134e+00,6.461559e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.200000e+01
beds,22512.0,1.620558e+00,1.174840e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.200000e+01
square_feet,446.0,4.654013e+02,5.034919e+02,0.000000e+00,0.000000e+00,4.035000e+02,7.075000e+02,4.639000e+03
guests_included,22552.0,1.332121e+00,8.350343e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.600000e+01
minimum_nights,22552.0,7.157059e+00,4.066507e+01,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,5.000000e+03
maximum_nights,22552.0,1.030505e+05,9.640519e+06,1.000000e+00,2.000000e+01,1.124000e+03,1.125000e+03,1.000000e+09
availability_30,22552.0,4.944173e+00,8.677395e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,3.000000e+01
availability_60,22552.0,1.114664e+01,1.752237e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,6.000000e+01
availability_90,22552.0,2.001610e+01,2.834914e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.600000e+01,9.000000e+01
availability_365,22552.0,7.985283e+01,1.193682e+02,0.000000e+00,0.000000e+00,4.000000e+00,1.290000e+02,3.650000e+02
number_of_reviews,22552.0,1.784068e+01,3.676962e+01,0.000000e+00,1.000000e+00,5.000000e+00,1.600000e+01,4.980000e+02
review_scores_rating,18163.0,9.441386e+01,7.639644e+00,2.000000e+01,9.200000e+01,9.700000e+01,1.000000e+02,1.000000e+02
review_scores_accuracy,18138.0,9.663965e+00,7.400390e-01,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_cleanliness,18141.0,9.324955e+00,1.031996e+00,2.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_checkin,18120.0,9.713521e+00,7.046199e-01,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_communication,18134.0,9.730672e+00,6.866140e-01,2.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_location,18121.0,9.505491e+00,7.621606e-01,2.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_value,18117.0,9.411106e+00,8.414916e-01,2.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
jurisdiction_names,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,22552.0,1.918233e+00,3.667257e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.500000e+01
reviews_per_month,18638.0,1.135525e+00,1.507082e+00,1.000000e-02,1.800000e-01,5.400000e-01,1.500000e+00,3.667000e+01

A lot of the data is listed as objects, which is really a catch all.

In [5]:
df.dtypes[10:15]

notes          object
transit        object
access         object
interaction    object
house_rules    object
dtype: object

In [6]:
def find_object_features(df):
    return list(df.dtypes[df.dtypes == 'object'].index)

In [1]:
df.dtypes[df.dtypes == 'object']

NameError: name 'df' is not defined

### Feature engineering

Let's try to capture as much of this object data as possible.  In this lesson, we'll start with date values.

In [8]:
def find_object_feature_values(df):
    object_features = find_object_features(df)
    return df[object_features][:2].values

In [9]:
find_object_feature_values(df)[0, :3]

array(['https://www.airbnb.com/rooms/2015', '2018-11-07',
       'Berlin-Mitte Value! Quiet courtyard/very central'], dtype=object)

We can see that the second column, `last_scraped` should be a date, but is listed as an object.  It would be nice if we could use the `to_datetime` method to put our columns in the correct format.

In [10]:
pd.to_datetime(df, infer_datetime_format=True)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

But it doesn't work as well as we would hope. Let's write a method called `is_date` that detects if our column value is a date.

In [11]:
def contains_date(column):
#     remove nas first, potentially use all
    regex_string = (r'^\d{1,2}-\d{1,2}-\d{4}$|^\d{4}-\d{1,2}-\d{1,2}$' + 
'|^\d{1,2}\/\d{1,2}\/\d{4}$|^\d{4}\/\d{1,2}\/\d{1,2}$')
    return column.str.contains(regex_string).any()

The regex above is wild but it's easier to understand once we understand that each `|` means `or`.  So really, we can think of the above regex as multiple different ones.  So the first one of them is:

`^\d{1,2}-\d{1,2}-\d{4}$`

Which means start with one or two digits, then one or two digits again, and then four digits.  With each set of digits separated by a hyphen.

`11-22-2018`

So contains date tells us if any column in the above contains a date.

In [12]:
def find_date_features(df):
    series_contains_date = df.apply(contains_date)
    return series_contains_date.index[series_contains_date.values]

In [13]:
date_features = find_date_features(df)

In [14]:
date_features

Index(['last_scraped', 'host_since', 'calendar_last_scraped', 'first_review',
       'last_review'],
      dtype='object')

Now we can set those features to be date time.

In [15]:
def to_dates(df):
    date_features = find_date_features(df)
    return df[date_features].astype('datetime64[ns]')

In [24]:
df_date_features = to_dates(df)

In [25]:
df_date_features.dtypes

# last_scraped             datetime64[ns]
# host_since               datetime64[ns]
# calendar_last_scraped    datetime64[ns]
# first_review             datetime64[ns]
# last_review              datetime64[ns]

df_date_features[:1]

  last_scraped host_since calendar_last_scraped first_review last_review
0   2018-11-07 2008-08-18            2018-11-07   2016-04-11  2018-10-28

In [6]:
# make it work
# make it right
# make it fast

In [7]:
from date_lib import add_datepart

In [8]:
copied_df = df.copy()
add_datepart(copied_df, 'last_scraped')

In [10]:
# 1. periodic data
# 2. external data
#     * weather
# 3. differences within a row or differences between rows
# first listing

In [11]:
# copied_df

In [26]:
def generate_new_date_columns(dates_df):
    copied_dates_df = dates_df.copy()
    for col in copied_dates_df.columns:
        add_datepart(copied_dates_df, col)
    return copied_dates_df

In [30]:
new_date_col_df = generate_new_date_columns(df_date_features)

In [32]:
len(new_date_col_df.columns)

65

Once coercing our dates, we can merge with the original dataframe, and replace each of the old columns that should be dates.

In [73]:
def merge_dfs(original_df, new_df):
    copied_original = original_df.copy()
    date_features = find_date_features(original_df)
    copied_dropped = copied_original.drop(columns = date_features)
    copied_dropped[new_df.columns] = new_df
    return copied_dropped

In [74]:
new_df = merge_dfs(df, new_date_col_df)

We can confirm that the `new_df` has fewer `object_feature` columns than the original.

In [76]:
# new_df = new_df.drop(columns = remaining_date_features)
len(find_object_features(new_df))

57

In [77]:
len(find_object_features(df))

62

Even though our `new_df` has more features.

In [79]:
len(new_df.columns)

156

### Working with Trickier Dates

Sometimes we'll have have some features that represents a date, but is worded as text.  For example, the text '6 years ago' could be translated into a date.  Let's write a function that finds this features with this text.  And also write functions to coerce this data into the proper format.

In [50]:
def contains_time_ago(column):
    regex_string = (r'^\d.*ago$')
    return column.str.contains(regex_string).any()

In [51]:
def find_time_ago_features(df):
    series_contains_time_ago = df.apply(contains_time_ago)
    return series_contains_time_ago.index[series_contains_time_ago.values]

In [52]:
find_time_ago_features(df)

Index(['calendar_updated'], dtype='object')

In [68]:
from date_lib import get_past_date

In [69]:
calendar_updated = df.calendar_updated.apply(get_past_date).astype('datetime64[ns]')

In [70]:
calendar_updated[0:3]

0   2019-04-09
1   2019-05-21
2   2019-07-02
Name: calendar_updated, dtype: datetime64[ns]

Now we can replace our `calendar_updated` column.

### Generating New Features

There are some additional features that we did not generate.  For example, subtracting date columns from another and also subtracting dates from additional key dates like holidays.  Finally, to be even more ambitious, we could match dates to past temperatures if we believe this would help our dataset.

### Summary