### Introduction

In [1]:
import requests
response = requests.get('https://data.texas.gov/resource/naix-2893.json?location_address=2411%20GLENNA%20GOODACRE%20BLVD')
results = response.json()

In [5]:
import pandas as pd
results_df = pd.DataFrame(results)

In [6]:
top_three = results_df[0:3]

In [7]:
beer_and_liquor_df = results_df[['beer_receipts', 'liquor_receipts', 'total_receipts']].apply(pd.to_numeric)

In [8]:
beer_receipts = beer_and_liquor_df['beer_receipts'].to_numpy()

In [9]:
beer_receipts

array([114, 115, 158, 208, 378, 409, 153, 346, 504, 162, 187, 515, 442,
       103, 429, 278, 158,   0,   0, 538, 297, 590, 438, 398, 115,   0,
       129, 535, 208, 313, 407,  93, 498, 394, 308, 615, 354, 381, 175,
       251, 160, 378, 517, 337, 460, 394, 196, 211, 323, 148, 149,  88,
       204, 777, 508, 128, 244, 251, 266, 381, 115, 147, 165, 434, 516,
       256, 396, 218, 315, 235, 160, 149, 187, 559, 410, 292, 650,  86,
       530, 142, 194, 187, 205, 527, 143, 584,  92, 249, 267, 171, 472,
       385, 643, 455, 185,  97, 367, 342, 497, 527, 310, 387])

In [10]:
liquor_receipts = beer_and_liquor_df['liquor_receipts'].to_numpy()

In [11]:
liquor_receipts

array([ 76, 137, 116, 147, 631, 560, 116,  81, 261, 147, 249, 615, 787,
        69, 682,  27,  78,   0,   0, 327, 334, 815, 409, 445,  31,   0,
       183, 302, 204, 656, 761,  59, 937, 185, 144, 315, 480, 602, 175,
       297, 163, 357, 935, 167, 189, 662, 241,  78, 189, 144, 114, 121,
        95, 514, 248, 118, 178, 161, 349, 486,  76, 128, 329, 252, 319,
       213, 488, 168, 595, 251, 139, 159, 161, 275, 319, 334, 340, 133,
       288,  75,  76, 172, 380, 252, 111, 342, 151, 280, 166, 149, 167,
       482, 302, 185, 185,  78, 383, 531, 180, 234, 144, 149])

### Working with Vectors in Numpy

Let's assume that chipotle earns $.20$ in marginal profit for every dollar of liquor sold, and $.10$ of marginal profit for every dollar of beer sold.

Calculate the marginal profit for liquor for each month.

In [15]:
marginal_liquor = .2*liquor_receipts
marginal_liquor[0:5]
# array([ 15.2,  27.4,  23.2,  29.4, 126.2])

array([ 15.2,  27.4,  23.2,  29.4, 126.2])

In [17]:
marginal_beer = .1*beer_receipts
marginal_beer[0:5]
# array([11.4, 11.5, 15.8, 20.8, 37.8])

array([11.4, 11.5, 15.8, 20.8, 37.8])

Now calculate the total marginal profit on all alcohol sales -- assume that beer and alcohol receipts are the only source of alcohol revenue.

In [22]:
total_margins = .2*liquor_receipts + .1*beer_receipts

# Please check your own work for this one

Calculate the percentage of revenue that goes towards marginal profits each month.

In [27]:
total_margins

array([ 26.6,  38.9,  39. ,  50.2, 164. , 152.9,  38.5,  50.8, 102.6,
        45.6,  68.5, 174.5, 201.6,  24.1, 179.3,  33.2,  31.4,   0. ,
         0. , 119.2,  96.5, 222. , 125.6, 128.8,  17.7,   0. ,  49.5,
       113.9,  61.6, 162.5, 192.9,  21.1, 237.2,  76.4,  59.6, 124.5,
       131.4, 158.5,  52.5,  84.5,  48.6, 109.2, 238.7,  67.1,  83.8,
       171.8,  67.8,  36.7,  70.1,  43.6,  37.7,  33. ,  39.4, 180.5,
       100.4,  36.4,  60. ,  57.3,  96.4, 135.3,  26.7,  40.3,  82.3,
        93.8, 115.4,  68.2, 137.2,  55.4, 150.5,  73.7,  43.8,  46.7,
        50.9, 110.9, 104.8,  96. , 133. ,  35.2, 110.6,  29.2,  34.6,
        53.1,  96.5, 103.1,  36.5, 126.8,  39.4,  80.9,  59.9,  46.9,
        80.6, 134.9, 124.7,  82.5,  55.5,  25.3, 113.3, 140.4,  85.7,
        99.5,  59.8,  68.5])

In [28]:
total_revenues

array([ 190,  252,  274,  355, 1009,  969,  269,  427,  765,  309,  436,
       1130, 1229,  172, 1111,  305,  236,    0,    0,  865,  631, 1405,
        847,  843,  146,    0,  312,  837,  412,  969, 1168,  152, 1435,
        579,  452,  930,  834,  983,  350,  548,  323,  735, 1452,  504,
        649, 1056,  437,  289,  512,  292,  263,  209,  299, 1291,  756,
        246,  422,  412,  615,  867,  191,  275,  494,  686,  835,  469,
        884,  386,  910,  486,  299,  308,  348,  834,  729,  626,  990,
        219,  818,  217,  270,  359,  585,  779,  254,  926,  243,  529,
        433,  320,  639,  867,  945,  640,  370,  175,  750,  873,  677,
        761,  454,  536])

In [29]:
26.6/190

0.14

In [33]:
total_revenues = beer_receipts + liquor_receipts
total_revenues[0:3]

margin_percentage = total_margins/total_revenues
margin_percentage[0:3]

# array([0.14      , 0.15436508, 0.14233577])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

array([0.14      , 0.15436508, 0.14233577])

If we look at the array, there are three nan entries.

In [36]:
import numpy as np
np.argwhere(np.isnan(margin_percentage))

array([[17],
       [18],
       [25]])

Why do you think that is?  Show your reasoning in code.

### Summary

Great job!  In this lesson we practice